body{
  background-color: lightgrey;
}
.header{
  background-color: white;
}

/* colors and fonts sizes*/
.dashboard{
  font-size: 20px;
  font-weight: 600px;
  line-height: 2;
  background-color: #1992d4;
  color: white;
}


.site{
  background-color: white;
}

.trends{
  background-color: white;
}
/* grid and flex display*/

.search{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headnav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  gap: 20px;
}

.headnav span{
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
 background-color:#1992d4;
 color: white;
 padding: 20px;
 border-radius: 40px;
 
 
}

.container{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
}

.dashboard{
  grid-column: 1/2;
  grid-row: 1/-1;
  padding: 20px;
}

.header{
  grid-column:2/3 ;
  grid-row: 1/2;
  padding: 20px;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e5e7eb;
  padding: 30px;
  gap: 25px;
}


.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* settings for cards under the your project */
.supercool, .impossibleapp, .adblocker,
.lesscool, .easypeasy, .moneymaker {
  line-height: 1.4;
  background-color: white;
  border-left: 10px solid orange;
  padding: 20px;  
  border-radius: 8px;  
}


.site, .trends{
  border-radius: 8px;
  padding: 10px;
}

.update{
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.site, .trends {
  margin-top: 15px;
}

.site h3, .trends p {
  font-size: 14px;
  margin-bottom: 5px;
}

.site p, .trends p {
  font-size: 13px;
  margin-bottom: 15px;
  color: #6b7280;
}

.site hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 15px 0;
}

.site{
  min-height: 400px;
}
.trends{
  min-height: 300px; 
}


.trends p {
  font-size: 15px;
  line-height: 1.6;
  padding: 15px 0;
  margin: 0;
  font-weight: 600
}

.trends p::first-line {
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
/* avatar and icons settings*/

.dashboard img {
  width: 24px;   
  height: 24px;
  margin-right: 10px; 
  vertical-align: middle;  
}

.header img {
  width: 40px;
  height: 30px;
}

.cardemoji{
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: flex-end;
}

.cardemoji img{
  width: 20px;
  height: 20px;
}

/* trends avatar settings*/
.trends img {
  width: 40px;
  height: 40px;
  border: 1px ridge black;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.admin img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.headnav img{
  width:100px;
  height:100px ;
  border-radius: 20px;
}

.admin{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:10px;
}

.bellicon img{
  width: 40px;
  height: 40px;
  vertical-align: middle;
} 

.search input{
  width:300px;
  height: 40px;
  border-radius: 30px;
}